In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.3.5'

#### Reading JSON

In [3]:
# JSON (JavaScript Object Notation) is a standardized and language-independent format.



> https://andybek.com/pandas-folks-json

In [4]:
folks = pd.read_json('https://andybek.com/pandas-folks-json')

In [5]:
folks

            name  salary           occupation
0   Brian Dogood   64000  Software Technician
1     Leah Bokeh   73200       Data Scientist
2  Mark Prescott   76400  Business Consultant
3   Jurgen Gupta   94300   Aerospace Engineer

In [6]:
type(folks)

pandas.core.frame.DataFrame

In [7]:
folks.iloc[2]

name                Mark Prescott
salary                      76400
occupation    Business Consultant
Name: 2, dtype: object

In [8]:
folks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   salary      4 non-null      int64
 2   occupation  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

#### Reading HTML

In [9]:
# Hypertext Markup Language

In [10]:
# Q: put together a dataframe of European countries and their populations

In [11]:
data_url = 'https://en.wikipedia.org/wiki/List_of_European_countries_by_population'

In [12]:
countries = pd.read_html(data_url, header=1)

In [13]:
type(countries)

list

In [14]:
len(countries)

2

In [17]:
countries[0].head()

,Country.mw-parser-output .nobold{font-weight:normal}(or territory),UN estimate(2018)[5][6],Estimate,Date,Regionalgrouping,Source
0,Russia * [Note 1],145734038.0,145478097,1 Jan 2022,EAEU,National annual estimate[7]
1,Turkey *,82340088.0,84680273,31 Dec 2021,NaN,National annual estimate[8]
2,Germany *,83124418.0,83222442,30 Sep 2021,EU,National quarterly estimate[9]
3,France * [Note 2],64990511.0,67813000,1 Jan 2022,EU,National monthly estimate[10]
4,United Kingdom * [Note 3],67141684.0,67081000,30 Jun 2020,NaN,National annual estimate[11]

In [18]:
countries = countries[0].loc[:, ['Country(or dependent territory)', 'Estimate']]

KeyError: ignored

In [ ]:
countries.head()

In [ ]:
# renaming column labels
countries.rename({'Country(or dependent territory)':'Country'}, axis=1, inplace=True)

In [ ]:
# removing [Note x]
countries.replace(r'\[Note \d+\]', '', regex=True, inplace=True)

In [ ]:
from matplotlib import pyplot as plt
plt.style.use('ggplot')
countries.set_index('Country').iloc[:10].plot(kind='bar', figsize=(10,6));

#### Reading Excel

Popular Excel Formats

*   .xls  -> binary format
*   .xlsx -> xml-based, available in newer versions

> https://andybek.com/folks.xlsx

In [ ]:
# read_excel()

In [ ]:
pd.read_excel('https://andybek.com/folks.xlsx')

In [ ]:
pd.read_excel('https://andybek.com/folks.xlsx', sheet_name='hobbies')

In [ ]:
pd.read_excel('https://andybek.com/folks.xlsx', 'hobbies')

In [ ]:
pd.read_excel('https://andybek.com/folks.xlsx', 1)

In [ ]:
!pip show xlrd

In [ ]:
!pip show openpyxl

In [ ]:
!pip install xlrd openpyxl

#### Creating Output: The to_* Family Of Methods

In [ ]:
# I/O -> Input/Output

In [ ]:
# read_{format}

In [ ]:
hobbies = pd.read_excel('https://andybek.com/folks.xlsx', 'hobbies')

In [ ]:
hobbies

In [ ]:
# tasks:
# - add a new person to the hobbies dataframe
# - save the resulting df to a csv

In [ ]:
hobbies.loc[4] = ['Zoltan Zachary', 'Archery']

In [ ]:
hobbies

In [ ]:
hobbies['age'] = np.random.uniform(22, 54, 5)

In [ ]:
hobbies

In [ ]:
# read_csv, read_excel, read_html...

In [ ]:
# to_csv, to_excel, to_html...

In [ ]:
hobbies.to_csv()

In [ ]:
hobbies.to_csv('hobbies.csv', index=False)

In [ ]:
!ls

In [ ]:
!rm sample_data -rf

In [ ]:
!ls

In [ ]:
pd.read_csv('hobbies.csv')

In [ ]:
# how about json?

In [ ]:
hobbies.to_json()

In [ ]:
hobbies.to_json('hobbies.json')

In [ ]:
!ls

In [ ]:
# we could also do html!

In [ ]:
hobbies.to_html()

In [ ]:
print(hobbies.to_html())

#### BONUS: Introduction To Pickling

###### **serialization**: the process of converting an object into a stream of bytes, to be stored or transmitted over a network

##### **pickle**: the python standard library module responsible for serialization

###### **serialization**

serialization is also known as marshalling or flattening in other programming languages

###### _

In [ ]:
googl = {'ticker': 'GOOGL', 'shares': 10, 'book_cost': 1540.23}

In [ ]:
import pickle

In [ ]:
pickle_output = open('my_stock', 'wb')

In [ ]:
pickle.dump(googl, pickle_output)

In [ ]:
pickle_output.close()

In [ ]:
!ls

In [ ]:
!hexdump my_stock

In [ ]:
pickle_input = open('my_stock', 'rb')

In [ ]:
stock_dict = pickle.load(pickle_input)

In [ ]:
stock_dict

#### Pickles In Pandas



> https://andybek.com/portfolio

###### Some important notes

* pickles from untrusted sources may pose a security concern!
* for data-interchange over the web or across language stacks, JSON may be a better data interchange format

###### _

In [ ]:
folio = pd.read_pickle('https://andybek.com/portfolio')

In [ ]:
folio

In [ ]:
folio.to_pickle('folio')

In [ ]:
!ls

In [ ]:
pd.read_pickle('folio')

#### The Many Other Formats

In [ ]:
# there's many more!

#### Skill Challenge

##### **1**.

###### If you head over to https://andybek.com/traders/ you'll find page listing trader positions and some attributes. Using pandas, read this table directly into a pandas dataframe. Assign the dataframe to the variable *positions*.

##### **2**.

###### The positions we imported in the step above contain trader aliases. Over at https://andybek.com/pandas-traders-names we have more information on the name and seniority of each trader.

What is the data format served at this url? Read it into a pandas dataframe called *traders*.

##### **3**.

Combine the two dataframes from the previous steps into a dataframe that combines positions with the full name and senority of each trader.

##### **4**.

Save the merged dataframe from the previous step into a pickle file called *pickled_positions* as well as a csv file called *positions.csv*.

Confirm that the files have been saved locally.

#### Solution

In [ ]:
# 1

In [ ]:
positions = pd.read_html('https://andybek.com/traders')[0]

In [ ]:
type(positions)

In [ ]:
positions

In [ ]:
# 2

In [ ]:
traders = pd.read_json('https://andybek.com/pandas-traders-names')

In [ ]:
traders

In [ ]:
# 3

In [ ]:
mrgd = positions.merge(traders, left_on='TraderID', right_on='alias').drop('alias', axis=1)

In [ ]:
# 4

In [ ]:
mrgd

In [ ]:
mrgd.to_pickle('pickled_traders')

In [ ]:
!ls

In [ ]:
mrgd.to_csv('traders.csv')

In [ ]:
!ls

In [ ]:
# bonus: how to download files from colab

In [ ]:
from google.colab import files

In [ ]:
files.download('traders.csv')